{% extends 'base.html' %}
{% block main %}
  
<h3 class="text-center">Student Details</h3>
<p> First Name :{{student.first_name}}</p>
<p> Last Name :{{student.last_name}}</p>

<p> Email :{{student.email}}</p>
<p>Hometown: {{student.biodata.hometown}}</p>
<p>Contact :{{student.biodata.contact}}</p>
<!-- <p>Biodata :{{student.biodata}}</p>
<p>courses : {{student.courses}}</p> -->
{% if student.courses %}
    
<p>Courses</p>
<table class="table table-striped">
    <tr>
        <td>#</td>
        
        <td>Name</td>
    </tr>
    {% for course in student.courses  %}
    <tr>
        <td>{{course.id}}</td>
        <td>{{course.name}}</td>
    </tr>
    {% endfor %}
</table>
        

{% else %}

<p>Student Has not Nrolled for any course</p>
{% endif %}
    

{% endblock main %}
